<div class="row">
  << Voltar<p class="pull-right">Próximo >></p>
  <div class="progress" style="width: 100%">
    <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <% @categories.each do |category| %>
    <div class="col-md-12">
      <div class="row well" >
        <div class="col-md-2">
          <i class="<%= category.icon %>" style="font-size:70px"></i>
        </div>
        <div class="col-md-10">
          <h1><%= link_to category.name, show_services_path, :remote => true %></h1>
        </div>
      </div>
    </div>
  <% end %>
</div>


<h1>Categories</h1>
<div class="form-check">
    <label class="form-check-label">

    </label>
</div>

<div class="row">
  <% @categories.each do |category| %>
    <div class="col-md-3" id="category-<%= category.id %>">
      <h4><%= category.name %></h4>
      <%= select_tag('hair_size', options_from_collection_for_select(@hair_sizes, :id, :name), class: "form-control") if category.name == 'Cabelo' %>
      <%= select_tag('category', options_from_collection_for_select(@services.where(gender: current_user.gender).where(category: category), :id, :title), multiple: true, class: "form-control") %>
    </div>
  <% end %>
</div>

<%= month_calendar events: @schedule_services do |date, schedule_services| %>
  <%= date %>
  <% schedule_services.each do |schedule_service| %>
    <div style="font-size: 12px; width: 110px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">
      <%= schedule_service.start_time.strftime('%H:%M') %> - Ocupado<br>
    </div>
  <% end %>
<% end %>
<br>
<%= week_calendar number_of_weeks: 2 do |date| %>
  <%= date %>
<% end %>
<br>
<%= calendar number_of_days: 1, events: @schedule_services do |date, schedule_services| %>
  <%= date %>
  <% schedule_services.each do |schedule_service| %>
    <div>
      <%= schedule_service.start_time.strftime('%H:%M') %> -
      <%= schedule_service.service.title %> -
      <%= schedule_service.schedule.user.name %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  angular.module('mySalonApp', [])
    .controller('scheduleCtrl', function() {
      var scope = this;
      scope.teste = "asdasdas";

      scope.showServices()
    })
</script>


<script type="text/javascript">
  function showCategory(el, id) {
    $('#'+id).toggle();
  }

  function selectCategory(id) {
    console.log(id);
  }
</script>
